$color-grey-light: #f7f7f7; //Background color
$color-black: #141414;
$color-yellow: #e6c510;

@mixin respond($breakpoint) {
  @if $breakpoint == laptop {
    @media all and (max-width: 1900px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media all and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media all and (max-width: 768px) {
      @content;
      
    }
  }
  @if $breakpoint == phone {
    @media all and (max-width: 600px) {
      @content;
    }
  }
}

/* Small Devices, Tablets */


@mixin rotated-text(
  $num-letters: 100,
  $angle-span: 180deg,
  $angle-offset: 0deg
) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      @include transform(rotate($angle-offset + $angle-per-char * $i));
    }
  }
}

// UTILS
.page-spacing {
  padding-top: 30rem;
      @include respond(tablet) {
        padding-top: 10rem;
      }
}
.reverse-row-mobile{
  @include respond(tablet) {
    display: flex;
  flex-direction: column-reverse;
  } 
}
 

.content-spacing {
  padding-top: 20rem;
   @include respond(tablet) {
        padding-top: 10rem;
      }
}

html {
  font-size: 62.5%;
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.7;
  background-color: $color-grey-light;
  	// overflow: hidden;
      
}

[data-aos-delay] {
     @include respond(tablet) {
     transition-delay: 0s !important;
         transform: none !important;
    
    
  }  
}



// Nav ////////////////////////////////////////////////////////
.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
     @include respond(tab-port) {
       top: 2rem;
       right: 2rem;
       }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-black, $color-black);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
       @include respond(tablet) {
         top: 3rem;
       right: 3rem;
       height: 3rem;
       width: 3rem;
       }

    // transform: scale(80);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 4.5rem;
      font-weight: 400;
      padding: 1rem 2rem;
      letter-spacing: 10px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-grey-light 50%
      );
      background-size: 230%;
      transition: all 0.5s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-black;
      font-weight: 300;
      transform: translateX(1rem);
    }
          @include respond(tablet) {
      font-size: 2.5rem !important;
       }
  } 
  &__link-2 {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 400;
      padding: 1rem 4rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 230%;
      transition: all 0.5s;
           @include respond(tablet) {
      font-size: 2rem !important;
       }
      @include respond(phone) {
        font-size: 18px;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      font-weight: 300;
      color: black;
      transform: translateY(-1rem);
    }
  }
  // Functionality

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: grey;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

// Heading //////////////////////////////////////////////////
.heading-spacing {
  padding-top: 10rem;
}

.heading-text {
  font-weight: 900;
  font-size: 20rem;
  color: $color-black;
  transition: all 0.5s;
  @include respond(laptop) {
    font-size: 15rem;
  }
   @include respond(tablet) {
    font-size: 10rem;
  }  
  @include respond(phone) {
    font-size: 6rem;
  }
}

.heading-text-2nd {
  font-weight: 700;
  font-size: 4.7rem;
  color: $color-black;
     @include respond(tablet) {
    font-size: 2.8rem;

  }  
}

.heading-text-wde {
  font-weight: 700;
  font-size: 15rem;
  color: $color-black;
}

.heading-hover {
  transition: all 1s;
  &:hover {
    color: red;
    text-decoration: underline;
  }
}

// Section /////////////////////////////////

.section-heading {
  font-weight: 700;
  font-size: 7rem;
  color: $color-black;
  transition: all 1s;
  @include respond(laptop) {
    font-size: 6rem;
  }
   @include respond(tablet) {
    font-size: 6rem;
    text-align: center;
  }
    @include respond(phone) {
    font-size: 4rem;
  }
}

.section-text {
  font-size: 2.6rem;
  transition: all 0.4s;
  font-weight: 300;
  @include respond(laptop) {
    font-size: 2.2rem;
  }
    @include respond(phone) {
    text-align: center;
  }

}

.desktopOnly{
    @include respond(tablet) {
    display: none; 
  }
}

.mobile-only{
  display: none;
    @include respond(tablet) {
    display: block;
  } 
}

.center-on-mobile{
   @include respond(tablet) {
    text-align: center;
  }
}

.center-on-mobile-2nd{
   @include respond(phone) {
    text-align: center;
  }
}

// About
.headshot {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);

  @include respond(laptop) {
    width: 500px;
  }
   @include respond(tablet) {
    margin-bottom: 3rem;
  }
}

// Experience
.experience-row {
  border: 2px solid $color-black;
  padding: 2rem 0;
  transition: all 0.4s;
     @include respond(phone) {
    border: none;
  }
 
}

.experience-heading {
  font-size: 2.8rem;
  font-weight: 600;
  
}
.experience-heading-story {
  font-size: 2.6rem;
  font-weight: 600;
}

.story-text {
  font-size: 1.6rem;
}

.experience-company {
  font-size: 2.4rem;
  font-weight: 600;
}

.experience-heading-2nd {
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.6);
    @include respond(phone) {
    font-size: 2rem;
  }
}

.experience-responsibilities {
  font-size: 2.2rem;
  &::before {
    content: "-";
  }
     @include respond(phone) {
    font-size: 1.4rem;
  }
}

.uwrg-logo {
  width: 100px;
     @include respond(phone) {
    width: 75px;
  }
}

// Projects
.wde-phone {
  position: absolute;
  width: 500px;
  left: 41%;
  bottom: -5%;
}

.project-heading {
  font-size: 5rem;
  font-weight: 300;
}

.project-spacing {
  padding-top: 20rem;
}

.wde-tablet {
  @include respond(laptop) {
    width: 500px;
  }
}

.wde-phone {
  @include respond(laptop) {
    width: 400px;
  }
     @include respond(tablet) {
    display: none;
  }  
}

.amplify {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

// Learn More Button
.btn-text {
  &:link,
  &:visited {
    font-size: 2rem;
    color: black;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 3px;
    transition: all 0.6s;
  }

  &:hover {
    background-color: black;
    color: white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.4);
    transform: translateY(0);
  }
}

// Contact Me
.contact-heading-2nd {
  font-size: 3.5rem;
  transition: all 0.4s;
  font-weight: 300;
}

.form-margin {
  //  margin: 2rem 20rem;
  transition: all 0.4s;
  @include respond(laptop) {
    margin: 2rem 10rem;
  }
  @include respond(tab-port) {
    margin: 2rem 2rem;
  }
}

.form-label {
  font-size: 2.5rem;
  transition: all 0.4s;
  font-weight: 300;
}

.form-input {
  width: 100%;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  height: 4.5rem;
  font-size: 2rem;
  transition: all 0.4s !important;
  &:focus {
    outline: none;
    border-bottom: 2px solid $color-black;
  }
  @include respond(laptop) {
    height: 4rem;
  }
  @include respond(phone) {
    border: solid 2px black;
  }
}

.form-input-textarea {
  width: 100%;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  height: 25rem;
  font-size: 2rem;
  transition: all 0.4s;
  &:focus {
    outline: none;
    border-bottom: 2px solid $color-black;
  }
  @include respond(laptop) {
    height: 4rem;
  }
  @include respond(phone) {
    border: solid 2px black;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 4rem !important;
    display: inline-block;
    transition: all 0.6s !important;
    position: relative;
    font-size: 2rem !important;
    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.6);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0.5rem 1rem rgba(black, 0.2);
  }

  &--white {
    //Nav Button
    background-color: $color-black !important;
    color: white !important;
    font-size: 2rem;
    font-weight: 700;
    &::after {
      background-color: $color-black !important;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

// Footer

.footer {
  background-color: $color-black;
}

.footer-name {
  font-family: "Comforter Brush", cursive;
  color: $color-grey-light;
  font-size: 7rem;
}

.footer-email {
  font-size: 1.6rem;
  color: $color-grey-light;
}

.footer-links {
  font-size: 2rem;
  color: $color-grey-light;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    color: $color-grey-light;
    font-size: 2.5rem;
  }
}

// Resume

.resume {
  width: 100%;
  height: 100%;
}

// WDE Breakdown
.features-heading {
  font-size: 2.8rem;
  font-weight: 400;
}
